<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Coordinate Details</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<canvas id="canvas" width="750" height="400"  >Your browser not supported</canvas>
{{#coordinate}}
<script>
let x={{x1}}*100;
let y={{y1}}*100;
let x2={{x2}}*100;
let y2={{y2}}*100;
let x3={{x3}}*100;
let y3={{y3}}*100;
let x4={{x4}}*100;
let y4={{y4}}*100;

    var
    canv = document.getElementById('canvas'),
    ctx  = canv.getContext('2d');


    ctx.moveTo(x,y);
    ctx.lineTo(x2,y2);
    ctx.stroke();


    ctx.lineTo(x3,y3);
    ctx.stroke();


    ctx.lineTo(x4,y4);
    ctx.stroke();
    ctx.lineTo(x,y);
    ctx.stroke();
</script>
{{/coordinate}}
<h1>View Coordinate</h1>
<a href="/coordinates">Back to Coordinate List</a>
<br/><br/>
{{#coordinate}}
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>x1</td>
            <td>:</td>
            <td>{{x1}}</td>
        </tr>
        <tr>
            <td>x2</td>
            <td>:</td>
            <td>{{x2}}</td>
        </tr>
        <tr>
            <td>x3</td>
            <td>:</td>
            <td>{{x3}}</td>
        </tr>
        <tr>
            <td>x4</td>
            <td>:</td>
            <td>{{x4}}</td>
        </tr>
        <tr>
            <td>y1</td>
            <td>:</td>
            <td>{{y1}}</td>
        </tr>
        <tr>
            <td>y2</td>
            <td>:</td>
            <td>{{y2}}</td>
        </tr>
        <tr>
            <td>y3</td>
            <td>:</td>
            <td>{{y3}}</td>
        </tr>
        <tr>
        <td>y4</td>
        <td>:</td>
        <td>{{y4}}</td>
    </tr>
    </table>
    <br/><br/>
    {{#allowDelete}}
        <form action="/coordinates/{{id}}/delete" method="POST">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            Delete this user? <input type="submit" value="Yes" />
        </form>
    {{/allowDelete}}
    {{^allowDelete}}
        <div>
            <a href="/coordinates/{{id}}/edit">Edit</a> |
            <a href="/coordinates/{{id}}/delete">Delete</a>
        </div>
    {{/allowDelete}}
{{/coordinate}}
{{#errorMessage}}
    <div class="error">{{errorMessage}}</div>
{{/errorMessage}}
</body>
</html>