<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Coordinates List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<div>
    <form method="post" action="main">
        <input type="number" name="x1" placeholder="x1" required/>
        <input type="number" name="y1" placeholder="y1" required/>
        <input type="number" name="x2" placeholder="x2" required/>
        <input type="number" name="y2" placeholder="y2" required/>
        <input type="number" name="x3" placeholder="x3" required/>
        <input type="number" name="y3" placeholder="y3" required/>
        <input type="number" name="x4" placeholder="x4" required/>
        <input type="number" name="y4" placeholder="y4" required/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>Laptop list</div>

<form method="post" action="delete">
    <input type="number" name="delete">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Delete By ID</button>
</form>
{{#coordinates}}
    <div>
        <b>{{id}}:</b>
        <strong>Model:  {{x1}}</strong>
        <strong>-----</strong>
        <strong>Brand:  {{y1}}</strong>
        <strong>-----</strong>
        <strong>CPU:  {{x2}}</strong>
        <strong>-----</strong>
        <strong>RAM:  {{y2}}</strong>
        <strong>-----</strong>
        <strong>Used or not:  {{x3}}</strong>
        <strong>-----</strong>
        <strong>Material:  {{y3}}</strong>
        <strong>-----</strong>
        <strong>Price:  {{x4}}</strong>
        <strong>-----</strong>
        <strong>Year:  {{y4}}</strong>
    </div>
{{/coordinates}}
</body>
</html>